body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    background: #0b1d3a;
    padding: 15px 40px;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.menu a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.menu a:hover {
    color: #00c6ff;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #0077cc, #00c6ff);
    color: white;
    text-align: center;
    padding: 60px 20px; /* smaller */
}

/* TECHNOLOGY */
.content {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* ABOUT */
.about {
    padding: 50px;
    text-align: center;
    background: #f4f4f4;
}

/* CONTACT ONE LINE */
.contact {
    text-align: center;
    padding: 50px;
    background: #eef1f7;
}

.contact-line {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.contact-line p {
    margin: 0;
    background: white;
    padding: 10px 15px;
    border-radius: 20px;
}

/* FOOTER */
footer {
    background: #0b1d3a;
    color: white;
    text-align: center;
    padding: 15px;
}